/* css used on most of the website, mostly the index */

:root {
  --transform-time :.45s;
}

body {
  font-family: 'Roboto Light', 'Roboto', sans-serif;
  font-size: 1.4em;
  background-color: var(--background-color);

  /* Firefox */
  -moz-transition: all var(--transform-time) linear;
  /* WebKit */
  -webkit-transition: all var(--transform-time) linear;
  /* Opera */
  -o-transition: all var(--transform-time) linear;
  /* Standard */
  transition: all var(--transform-time) linear;
  color: var(--primary-color);
}

/* the line behind "the repository" */
.line {
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #fdd104 65%);
  display: inline;
}

.line {
  /* Firefox */
  -moz-transition: all var(--transform-time) linear;
  /* WebKit */
  -webkit-transition: all var(--transform-time) linear;
  /* Opera */
  -o-transition: all var(--transform-time) linear;
  /* Standard */
  transition: all var(--transform-time) linear;
  color: var(--primary-color);
}


/* for hover of the heading */
.line:hover:not(i){
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #ffe677 65%);
}

/* the main title */
.heading {
  font-style: italic;
  font-size: 200%;
  text-align: center;
  text-decoration: none;
  color: black;
  margin: 4vh 0 4vh 0;
}

/* darkmode widget */
#darkmode-button {
  position: fixed;
  bottom: 32px;
  right: 32px;
  background-color: var(--primary-color);
  width: 50px;
  height: 50px;
  transition: all 0.5s ease;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  font-size: 24px;
}


/* Responsive */
@media screen and (max-width: 1023px) {
  body {
    font-size: 1.2em;
  }
}