/* css used on most of the website, mostly the index */

body {
  font-family: 'Roboto Light', 'Roboto', sans-serif;
  font-size: large;
}

/* the line behind the repository */
.line {
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #fdd104 65%);
  display: inline;
}

/* the main title */
.heading {
  font-family: "Roboto Light";
  font-style: italic;
  font-size: 52px;
  text-align: center;
  text-decoration: none;
  color: black;
  margin-bottom: 4vh;
}

/* makes the link look good */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
}


/* the sorting buttons */
.sort {
  margin-top: 5px;
  background-color: black;
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
}

.sort:hover {
  background-color: #fdd104;
  color: black;
}

/* the search bar */
.search {
  padding: 6px;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  font-size: 16px;
  color: black;
  border: 1px solid black;
}

.search::placeholder {
  color: #585858;
}

/* the search and buttons */
.in {
  text-align: center;
  margin-bottom: 3vh;
}

/* will split the search and buttons on mobile */
.breaker {
  display: none;
}

/* list formatting */
ul {
  padding: 0;
}

li {
  display: list-item;
  margin: 0 0 0.5em 1em;
  list-style: none;
  margin-left: 0;
  margin-bottom: 0.6em;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid #A9A9A9;
}

.desc {
  max-width: 75%;
  word-wrap: break-word;
}

.type {
  float: right;
}

/* name of entry */
.name {
  font-family: "Roboto";
  font-weight: bold;
}