/* css used on most of the website, mostly the index */

body {
  font-family: 'Roboto Light', 'Roboto', sans-serif;
  font-size: 1.5em;
}

/* the line behind "the repository" */
.line {
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #fdd104 65%);
  display: inline;
}

/* for hover of the heading */
.line:hover:not(i){
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #ffe677 65%);
}

/* the main title */
.heading {
  font-style: italic;
  font-size: 200%;
  text-align: center;
  text-decoration: none;
  color: black;
  margin: 4vh 0 4vh 0;
}



/* Responsive */
@media screen and (max-width: 1023px) {
  body {
    font-size: 1.2em;
  }
}