/* css used on most of the index */


/* makes the link look good */
a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover:not(.line) {
    text-decoration: underline;
    color: black;
}


/* the sorting buttons */
.sort {
  margin-top: 5px;
  background-color: var(--primary-color);
  border: none;
  width: 10rem;
  color: var(--background-color);
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .7em;
  border-radius: .7em;
  cursor: pointer;
}

.sort:hover {
  background-color: #fdd104;
  color: black;
}

/* the search bar */
.search {
  padding: 6px;
  text-decoration: none;
  display: inline-block;
  border-radius: .7em;
  font-size: .7em;
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  width: 25%;
}

/* will split the search and buttons on mobile */
.breaker {
  display: none;
}

/* table formatting */

table { 
  border-collapse:separate;
  border-spacing:0 2vh;
  table-layout: auto;
  width: 78%;
  margin-left: auto; 
  margin-right: auto;
}

td {
  border-bottom: 1px solid #A9A9A9;
  padding-bottom: 2vh;
}

/* name of entry css */
td:nth-child(1) {
  font-weight: bold;
  width: 15%;
}

/* entry type */
.type {
  width: 15%;
  font-style: italic;
  text-align: center;
}


/* Responsive */
@media screen and (max-width: 1024px) {
  /* putts sort buttons under search */
  .breaker {
    display: block;
  }
  /* sort and search looks nice */
  .sort {
    width: 35%;
    font-size: .9rem;
  }
  .search {
    width: 72%;
    font-size: 1rem;
  }
  /* collapse table by row */
  table { 
    display: block;
    border-spacing:0 2vh;
    width: 88%;
    margin-left: auto; 
    margin-right: auto;
  }
  td {
    width: 100%;  
    display: block;
    border-bottom: none;
    padding-bottom: 2%;
  }
  /* make the last row make a seprating border */
  td:nth-child(3) {
    width: 100%;
    border-bottom: 1px solid #A9A9A9;
    text-align: left;
  }
}